# Runtime artifacts
data/mnist_raw/
checkpoints/
logs/

# Python
__pycache__/
*.pyc
*.pyo
.env

# IDE
.vscode/
.idea/
venv/

# Large Datasets and Scratch Files
training_client_weights/
scratch/
RL.pdf
